In [9]:
# # Books Recommender System
# Collaborative filtering
# - Dataset :- https://www.kaggle.com/ra4u12/bookrecommendation

In [10]:
# Importing necessary library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
books = pd.read_csv('data/Books.csv', sep=',', encoding='latin-1', on_bad_lines='skip')

In [12]:
books.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPrÃ©",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [13]:
books.iloc[2]['image_url']

'https://images.gr-assets.com/books/1361039443m/41865.jpg'

In [14]:
# !curl "http://images.amazon.com/images/P/0195153448.01.THUMBZZZ.jpg" --out.png
# !curl http://images.amazon.com/images/P/0060973129.01.THUMBZZZ.jpg --output some.jpg

In [15]:
books.shape

(10000, 23)

In [16]:
books.columns

Index(['book_id', 'goodreads_book_id', 'best_book_id', 'work_id',
       'books_count', 'isbn', 'isbn13', 'authors', 'original_publication_year',
       'original_title', 'title', 'language_code', 'average_rating',
       'ratings_count', 'work_ratings_count', 'work_text_reviews_count',
       'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5',
       'image_url', 'small_image_url'],
      dtype='object')

In [17]:
#### Conclution:
# Here Image URL columns is important for the poster. So, we will keep it

In [18]:
books = books[['book_id','goodreads_book_id','isbn','title', 'authors', 'original_publication_year', 'average_rating','image_url']]

In [19]:
books.head()

,book_id,goodreads_book_id,isbn,title,authors,original_publication_year,average_rating,image_url
0,1,2767052,439023483,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,2008.0,4.34,https://images.gr-assets.com/books/1447303603m...
1,2,3,439554934,Harry Potter and the Sorcerer's Stone (Harry P...,"J.K. Rowling, Mary GrandPrÃ©",1997.0,4.44,https://images.gr-assets.com/books/1474154022m...
2,3,41865,316015849,"Twilight (Twilight, #1)",Stephenie Meyer,2005.0,3.57,https://images.gr-assets.com/books/1361039443m...
3,4,2657,61120081,To Kill a Mockingbird,Harper Lee,1960.0,4.25,https://images.gr-assets.com/books/1361975680m...
4,5,4671,743273567,The Great Gatsby,F. Scott Fitzgerald,1925.0,3.89,https://images.gr-assets.com/books/1490528560m...

In [20]:
# Lets remane some wierd columns name
books.rename(columns={"authors":"author",
                     "isbn":'ISBN',
                     "original_publication_year":"year",
                     },inplace=True)

In [21]:
books.head()

,book_id,goodreads_book_id,ISBN,title,author,year,average_rating,image_url
0,1,2767052,439023483,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,2008.0,4.34,https://images.gr-assets.com/books/1447303603m...
1,2,3,439554934,Harry Potter and the Sorcerer's Stone (Harry P...,"J.K. Rowling, Mary GrandPrÃ©",1997.0,4.44,https://images.gr-assets.com/books/1474154022m...
2,3,41865,316015849,"Twilight (Twilight, #1)",Stephenie Meyer,2005.0,3.57,https://images.gr-assets.com/books/1361039443m...
3,4,2657,61120081,To Kill a Mockingbird,Harper Lee,1960.0,4.25,https://images.gr-assets.com/books/1361975680m...
4,5,4671,743273567,The Great Gatsby,F. Scott Fitzgerald,1925.0,3.89,https://images.gr-assets.com/books/1490528560m...

In [22]:
# Now load the second dataframe

# users = pd.read_csv('data/ratings.csv', sep=",", on_bad_lines="skip", encoding='latin-1')

In [23]:
# users.head()

In [24]:
# users.shape

In [25]:
# # Lets remane some wierd columns name
# users.rename(columns={"User-ID":'user_id',
#                       'Location':'location',
#                      "Age":'age'},inplace=True)

In [26]:
# users.head(2)

In [27]:
# Now load the third dataframe

ratings = pd.read_csv('data/ratings.csv', sep=",", on_bad_lines='skip', encoding='latin-1')

In [28]:
ratings.head()

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

In [29]:
ratings.shape

(5976479, 3)

In [30]:
# # Lets remane some wierd columns name
# ratings.rename(columns={"User-ID":'user_id',
#                       'Book-Rating':'rating'},inplace=True)

In [31]:
# ratings.head(2)

In [32]:
# ### Conclution:
# Now we have 2 dataframes
# - books
# - ratings

In [33]:
print(books.shape, ratings.shape, sep='\n')

(10000, 8)
(5976479, 3)

In [34]:
ratings['user_id'].value_counts()

12874    200
30944    200
52036    199
12381    199
28158    199
        ...
32128     21
40753     21
51725     21
43675     20
34590     19
Name: user_id, Length: 53424, dtype: int64

In [35]:
ratings['user_id'].value_counts().shape

(53424,)

In [36]:
ratings['user_id'].unique().shape

(53424,)

In [37]:
# Lets store users who had at least rated more than 10 books
x = ratings['user_id'].value_counts() > 10

In [38]:
x[x].shape

(53424,)

In [39]:
y= x[x].index

In [40]:
y

Int64Index([12874, 30944, 52036, 12381, 28158, 45554,  6630, 37834, 15604,
             7563,
            ...
            32960, 22020, 25258, 42736, 43672, 32128, 40753, 51725, 43675,
            34590],
           dtype='int64', length=53424)

In [41]:
ratings = ratings[ratings['user_id'].isin(y)]

In [42]:
ratings.head()

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

In [43]:
ratings.shape

(5976479, 3)

In [44]:
# Now join ratings with books

ratings_with_books = ratings.merge(books, on='book_id')

In [45]:
ratings_with_books.head()

,user_id,book_id,rating,goodreads_book_id,ISBN,title,author,year,average_rating,image_url
0,1,258,5,1232,143034901,The Shadow of the Wind (The Cemetery of Forgot...,"Carlos Ruiz ZafÃ³n, Lucia Graves",2001.0,4.24,https://images.gr-assets.com/books/1344545047m...
1,11,258,3,1232,143034901,The Shadow of the Wind (The Cemetery of Forgot...,"Carlos Ruiz ZafÃ³n, Lucia Graves",2001.0,4.24,https://images.gr-assets.com/books/1344545047m...
2,143,258,4,1232,143034901,The Shadow of the Wind (The Cemetery of Forgot...,"Carlos Ruiz ZafÃ³n, Lucia Graves",2001.0,4.24,https://images.gr-assets.com/books/1344545047m...
3,242,258,5,1232,143034901,The Shadow of the Wind (The Cemetery of Forgot...,"Carlos Ruiz ZafÃ³n, Lucia Graves",2001.0,4.24,https://images.gr-assets.com/books/1344545047m...
4,325,258,4,1232,143034901,The Shadow of the Wind (The Cemetery of Forgot...,"Carlos Ruiz ZafÃ³n, Lucia Graves",2001.0,4.24,https://images.gr-assets.com/books/1344545047m...

In [46]:
ratings_with_books.shape

(5976479, 10)

In [47]:
number_rating = ratings_with_books.groupby('title')['rating'].count().reset_index()

In [48]:
number_rating.head()

                                               title  rating
0                          Angels (Walsh Family, #3)     263
1  "Ø­ÙØ§ÙØ§Øª ÙØ±ØºÙÙ Ø§ÙÙ
Ø³ØªÙØ§ÙÙ "Ø...     113
2                                          #GIRLBOSS     195
3                                       'Salem's Lot    4433
4                           'Tis (Frank McCourt, #2)     703

In [49]:
number_rating.rename(columns={'rating':'num_of_rating'},inplace=True)

In [50]:
number_rating.head()

                                               title  num_of_rating
0                          Angels (Walsh Family, #3)            263
1  "Ø­ÙØ§ÙØ§Øª ÙØ±ØºÙÙ Ø§ÙÙ
Ø³ØªÙØ§ÙÙ "Ø...            113
2                                          #GIRLBOSS            195
3                                       'Salem's Lot           4433
4                           'Tis (Frank McCourt, #2)            703

In [51]:
final_rating = ratings_with_books.merge(number_rating, on='title')

In [52]:
final_rating.head()

,user_id,book_id,rating,goodreads_book_id,ISBN,title,author,year,average_rating,image_url,num_of_rating
0,1,258,5,1232,143034901,The Shadow of the Wind (The Cemetery of Forgot...,"Carlos Ruiz ZafÃ³n, Lucia Graves",2001.0,4.24,https://images.gr-assets.com/books/1344545047m...,3531
1,11,258,3,1232,143034901,The Shadow of the Wind (The Cemetery of Forgot...,"Carlos Ruiz ZafÃ³n, Lucia Graves",2001.0,4.24,https://images.gr-assets.com/books/1344545047m...,3531
2,143,258,4,1232,143034901,The Shadow of the Wind (The Cemetery of Forgot...,"Carlos Ruiz ZafÃ³n, Lucia Graves",2001.0,4.24,https://images.gr-assets.com/books/1344545047m...,3531
3,242,258,5,1232,143034901,The Shadow of the Wind (The Cemetery of Forgot...,"Carlos Ruiz ZafÃ³n, Lucia Graves",2001.0,4.24,https://images.gr-assets.com/books/1344545047m...,3531
4,325,258,4,1232,143034901,The Shadow of the Wind (The Cemetery of Forgot...,"Carlos Ruiz ZafÃ³n, Lucia Graves",2001.0,4.24,https://images.gr-assets.com/books/1344545047m...,3531

In [53]:
final_rating.shape

(5976479, 11)

In [54]:
# Lets take those books which got at least 50 rating of user

final_rating = final_rating[final_rating['num_of_rating'] >= 50]

In [55]:
final_rating.head()

,user_id,book_id,rating,goodreads_book_id,ISBN,title,author,year,average_rating,image_url,num_of_rating
0,1,258,5,1232,143034901,The Shadow of the Wind (The Cemetery of Forgot...,"Carlos Ruiz ZafÃ³n, Lucia Graves",2001.0,4.24,https://images.gr-assets.com/books/1344545047m...,3531
1,11,258,3,1232,143034901,The Shadow of the Wind (The Cemetery of Forgot...,"Carlos Ruiz ZafÃ³n, Lucia Graves",2001.0,4.24,https://images.gr-assets.com/books/1344545047m...,3531
2,143,258,4,1232,143034901,The Shadow of the Wind (The Cemetery of Forgot...,"Carlos Ruiz ZafÃ³n, Lucia Graves",2001.0,4.24,https://images.gr-assets.com/books/1344545047m...,3531
3,242,258,5,1232,143034901,The Shadow of the Wind (The Cemetery of Forgot...,"Carlos Ruiz ZafÃ³n, Lucia Graves",2001.0,4.24,https://images.gr-assets.com/books/1344545047m...,3531
4,325,258,4,1232,143034901,The Shadow of the Wind (The Cemetery of Forgot...,"Carlos Ruiz ZafÃ³n, Lucia Graves",2001.0,4.24,https://images.gr-assets.com/books/1344545047m...,3531

In [56]:
final_rating.shape

(5976185, 11)

In [57]:
# lets drop the duplicates
final_rating.drop_duplicates(['user_id','title'],inplace=True)

In [58]:
final_rating.shape

(5974867, 11)

In [59]:
# Lets create a pivot table
book_pivot = final_rating.pivot_table(columns='user_id', index='title', values= 'rating')

In [60]:
book_pivot

user_id,1,2,3,4,5,6,7,8,9,10,...,53415,53416,53417,53418,53419,53420,53421,53422,53423,53424
title,,,,,,,,,,,,,,,,,,,,,
"Angels (Walsh Family, #3)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"""Ø­ÙØ§ÙØ§Øª ÙØ±ØºÙÙ Ø§ÙÙ Ø³ØªÙØ§ÙÙ ""Ø­ÙØ§ÙØªÙ Ù Ø¹ ÙÙØ± Ø§ÙØ³Ø­ÙØ§ÙÙØ©",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
#GIRLBOSS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Salem's Lot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
"'Tis (Frank McCourt, #2)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ÙØ§Ø­Ø© Ø§ÙØºØ±ÙØ¨,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ÙÙØªÙØ¨ÙØ§,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ú¤ÙØ±ØªÙØ¬Ù,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ã­ã¹ãããæ©ã1 [Kisu Yorimo Hayaku 1] (Faster than a Kiss #1),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ç¾å°å¥³æ¦å£«ã»ã¼ã©ã¼ã ã¼ã³æ°è£ ç 1 [BishÅjo Senshi Sailor Moon ShinsÅban 1],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
book_pivot.shape

(9955, 53424)

In [62]:
book_pivot.fillna(0, inplace=True)

In [63]:
book_pivot

user_id,1,2,3,4,5,6,7,8,9,10,...,53415,53416,53417,53418,53419,53420,53421,53422,53423,53424
title,,,,,,,,,,,,,,,,,,,,,
"Angels (Walsh Family, #3)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"""Ø­ÙØ§ÙØ§Øª ÙØ±ØºÙÙ Ø§ÙÙ Ø³ØªÙØ§ÙÙ ""Ø­ÙØ§ÙØªÙ Ù Ø¹ ÙÙØ± Ø§ÙØ³Ø­ÙØ§ÙÙØ©",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
#GIRLBOSS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Salem's Lot,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
"'Tis (Frank McCourt, #2)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ÙØ§Ø­Ø© Ø§ÙØºØ±ÙØ¨,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ÙÙØªÙØ¨ÙØ§,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Ú¤ÙØ±ØªÙØ¬Ù,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ã­ã¹ãããæ©ã1 [Kisu Yorimo Hayaku 1] (Faster than a Kiss #1),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ç¾å°å¥³æ¦å£«ã»ã¼ã©ã¼ã ã¼ã³æ°è£ ç 1 [BishÅjo Senshi Sailor Moon ShinsÅban 1],0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [64]:
tags = pd.read_csv('data/tags.csv', sep=",", on_bad_lines='skip', encoding='latin-1')

In [65]:
tags.head(30)

    tag_id                     tag_name
0        0                            -
1        1                         --1-
2        2                        --10-
3        3                        --12-
4        4                       --122-
5        5                       --166-
6        6                        --17-
7        7                        --19-
8        8                         --2-
9        9                       --258-
10      10                         --3-
11      11                        --33-
12      12                         --4-
13      13                         --5-
14      14                        --51-
15      15                         --6-
16      16                        --62-
17      17                         --8-
18      18                        --99-
19      19  --available-at-raspberrys--
20      20                      -2001--
21      21                     -calif--
22      22                       -d-c--
23      23                        -dean
24      24                    -england-
25      25                     -fiction
26      26                   -fictional
27      27                  -fictitious
28      28                   -football-
29      29                      -george

In [66]:
book_tags = pd.read_csv('data/book_tags.csv', sep=",", on_bad_lines='skip', encoding='latin-1')

In [67]:
book_tags.head()

   goodreads_book_id  tag_id   count
0                  1   30574  167697
1                  1   11305   37174
2                  1   11557   34173
3                  1    8717   12986
4                  1   33114   12716

In [68]:
book_tags = pd.merge(book_tags, tags, on='tag_id', how='left')

In [69]:
book_tags.head()

   goodreads_book_id  tag_id   count           tag_name
0                  1   30574  167697            to-read
1                  1   11305   37174            fantasy
2                  1   11557   34173          favorites
3                  1    8717   12986  currently-reading
4                  1   33114   12716        young-adult

In [70]:
book_tags.shape

(999912, 4)

In [149]:
book_with_tags = pd.merge(book_tags, books, on='goodreads_book_id', how='left')

In [150]:
book_with_tags.iloc[2]['image_url']

'https://images.gr-assets.com/books/1361039191m/1.jpg'

In [72]:
book_with_tags.drop(columns=['tag_id','count'])

,goodreads_book_id,tag_name,book_id,ISBN,title,author,year,average_rating,image_url
0,1,to-read,27,439785960,Harry Potter and the Half-Blood Prince (Harry ...,"J.K. Rowling, Mary GrandPrÃ©",2005.0,4.54,https://images.gr-assets.com/books/1361039191m...
1,1,fantasy,27,439785960,Harry Potter and the Half-Blood Prince (Harry ...,"J.K. Rowling, Mary GrandPrÃ©",2005.0,4.54,https://images.gr-assets.com/books/1361039191m...
2,1,favorites,27,439785960,Harry Potter and the Half-Blood Prince (Harry ...,"J.K. Rowling, Mary GrandPrÃ©",2005.0,4.54,https://images.gr-assets.com/books/1361039191m...
3,1,currently-reading,27,439785960,Harry Potter and the Half-Blood Prince (Harry ...,"J.K. Rowling, Mary GrandPrÃ©",2005.0,4.54,https://images.gr-assets.com/books/1361039191m...
4,1,young-adult,27,439785960,Harry Potter and the Half-Blood Prince (Harry ...,"J.K. Rowling, Mary GrandPrÃ©",2005.0,4.54,https://images.gr-assets.com/books/1361039191m...
...,...,...,...,...,...,...,...,...,...
999907,33288638,neighbors,8892,NaN,Wait for It,Mariana Zapata,2016.0,4.22,https://s.gr-assets.com/assets/nophoto/book/11...
999908,33288638,kindleunlimited,8892,NaN,Wait for It,Mariana Zapata,2016.0,4.22,https://s.gr-assets.com/assets/nophoto/book/11...
999909,33288638,5-star-reads,8892,NaN,Wait for It,Mariana Zapata,2016.0,4.22,https://s.gr-assets.com/assets/nophoto/book/11...
999910,33288638,fave-author,8892,NaN,Wait for It,Mariana Zapata,2016.0,4.22,https://s.gr-assets.com/assets/nophoto/book/11...
999911,33288638,slowburn,8892,NaN,Wait for It,Mariana Zapata,2016.0,4.22,https://s.gr-assets.com/assets/nophoto/book/11...

In [73]:
book_with_tags.head()

,goodreads_book_id,tag_id,count,tag_name,book_id,ISBN,title,author,year,average_rating,image_url
0,1,30574,167697,to-read,27,439785960,Harry Potter and the Half-Blood Prince (Harry ...,"J.K. Rowling, Mary GrandPrÃ©",2005.0,4.54,https://images.gr-assets.com/books/1361039191m...
1,1,11305,37174,fantasy,27,439785960,Harry Potter and the Half-Blood Prince (Harry ...,"J.K. Rowling, Mary GrandPrÃ©",2005.0,4.54,https://images.gr-assets.com/books/1361039191m...
2,1,11557,34173,favorites,27,439785960,Harry Potter and the Half-Blood Prince (Harry ...,"J.K. Rowling, Mary GrandPrÃ©",2005.0,4.54,https://images.gr-assets.com/books/1361039191m...
3,1,8717,12986,currently-reading,27,439785960,Harry Potter and the Half-Blood Prince (Harry ...,"J.K. Rowling, Mary GrandPrÃ©",2005.0,4.54,https://images.gr-assets.com/books/1361039191m...
4,1,33114,12716,young-adult,27,439785960,Harry Potter and the Half-Blood Prince (Harry ...,"J.K. Rowling, Mary GrandPrÃ©",2005.0,4.54,https://images.gr-assets.com/books/1361039191m...

In [74]:
# Group by 'goodreads_book_id' and aggregate the 'tag_name' column into a list
tags_per_book = book_with_tags.groupby('goodreads_book_id')['tag_name'].agg(list)

# Merge the result back into the books DataFrame
book_with_tags = pd.merge(books, tags_per_book, left_on='goodreads_book_id', right_index=True, how='left')

In [75]:
book_with_tags.head()

,book_id,goodreads_book_id,ISBN,title,author,year,average_rating,image_url,tag_name
0,1,2767052,439023483,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,2008.0,4.34,https://images.gr-assets.com/books/1447303603m...,"[favorites, currently-reading, young-adult, fi..."
1,2,3,439554934,Harry Potter and the Sorcerer's Stone (Harry P...,"J.K. Rowling, Mary GrandPrÃ©",1997.0,4.44,https://images.gr-assets.com/books/1474154022m...,"[to-read, favorites, fantasy, currently-readin..."
2,3,41865,316015849,"Twilight (Twilight, #1)",Stephenie Meyer,2005.0,3.57,https://images.gr-assets.com/books/1361039443m...,"[young-adult, fantasy, favorites, vampires, ya..."
3,4,2657,61120081,To Kill a Mockingbird,Harper Lee,1960.0,4.25,https://images.gr-assets.com/books/1361975680m...,"[classics, favorites, to-read, classic, histor..."
4,5,4671,743273567,The Great Gatsby,F. Scott Fitzgerald,1925.0,3.89,https://images.gr-assets.com/books/1490528560m...,"[classics, favorites, fiction, classic, books-..."

In [76]:
# Training Model

In [77]:
from scipy.sparse import csr_matrix

In [78]:
book_sparse = csr_matrix(book_pivot)

In [79]:
type(book_sparse)

scipy.sparse.csr.csr_matrix

In [80]:
# Now import our clustering algoritm which is Nearest Neighbors this is an unsupervised ml algo
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm= 'brute')

In [81]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [82]:
distance, suggestion = model.kneighbors(book_pivot.iloc[237,:].values.reshape(1,-1), n_neighbors=6 )

In [83]:
distance

array([[  0.        , 111.0990549 , 111.51233116, 111.6422859 ,
        112.03124564, 112.33877336]])

In [84]:
suggestion

array([[ 237, 4623, 1275, 7547, 2892, 3821]], dtype=int64)

In [ ]:
book_pivot.iloc[241,:]

user_id
1        0.0
2        0.0
3        0.0
4        0.0
5        0.0
        ...
53420    0.0
53421    0.0
53422    0.0
53423    0.0
53424    0.0
Name: A Perfect Spy, Length: 53424, dtype: float64

In [86]:
for i in range(len(suggestion)):
    print(book_pivot.index[suggestion[i]])

Index(['A Passage to India',
       'Of Course I Love You...! Till I Find Someone Better...',
       'Can Love Happen Twice?', 'The Lake (The Lake Trilogy #1)',
       'Half Girlfriend',
       'Life is What You Make It: A Story of Love, Hope and How Determination Can Overcome Even Destiny'],
      dtype='object', name='title')

In [87]:
book_pivot.index[3]

"'Salem's Lot"

In [88]:
#keeping books name
book_names = book_pivot.index

In [89]:
book_names[2]

'#GIRLBOSS'

In [90]:
np.where(book_pivot.index == 'A Passage to India')[0][0]

237

In [91]:
# find url

In [92]:
# final_rating['title'].value_counts()
ids = np.where(final_rating['title'] == "A Passage to India")[0][0]

In [93]:
final_rating.iloc[ids]['image_url']

'https://images.gr-assets.com/books/1421883612m/45195.jpg'

In [94]:
book_name = []
for book_id in suggestion:
    book_name.append(book_pivot.index[book_id])

In [95]:
book_name[0]

Index(['A Passage to India',
       'Of Course I Love You...! Till I Find Someone Better...',
       'Can Love Happen Twice?', 'The Lake (The Lake Trilogy #1)',
       'Half Girlfriend',
       'Life is What You Make It: A Story of Love, Hope and How Determination Can Overcome Even Destiny'],
      dtype='object', name='title')

In [96]:
ids_index = []
for name in book_name[0]: 
    ids = np.where(final_rating['title'] == name)[0][0]
    ids_index.append(ids)

In [97]:
for idx in ids_index:
    url = final_rating.iloc[idx]['image_url']
    print(url)

https://images.gr-assets.com/books/1421883612m/45195.jpg
https://images.gr-assets.com/books/1274597947m/7011879.jpg
https://images.gr-assets.com/books/1321016822m/13041934.jpg
https://images.gr-assets.com/books/1461854990m/17794657.jpg
https://images.gr-assets.com/books/1407223058m/22874559.jpg
https://images.gr-assets.com/books/1308754493m/11256293.jpg

In [98]:
import pickle
pickle.dump(model,open('artifacts/model.pkl','wb'))
pickle.dump(books,open('artifacts/books.pkl','wb'))
pickle.dump(book_with_tags,open('artifacts/book_with_tags.pkl','wb'))
pickle.dump(final_rating,open('artifacts/final_rating.pkl','wb'))
pickle.dump(book_pivot,open('artifacts/book_pivot.pkl','wb'))

In [99]:
# Testing model

In [100]:
def recommend_book(book_name):
    book_id = np.where(book_pivot.index == book_name)[0][0]
    distance, suggestion = model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1), n_neighbors=6 )
    print(suggestion)
    
    for i in range(len(suggestion)):
            books = book_pivot.index[suggestion[i]]
            for j in books:
                if j == book_name:
                    print(f"You searched '{book_name}'\n")
                    print("The suggestion books are: \n")
                else:
                    print(j)

In [101]:
book_name = "Half Girlfriend"
recommend_book(book_name)

[[2892 1275 4623 3821 7547 5274]]
You searched 'Half Girlfriend'

The suggestion books are:

Can Love Happen Twice?
Of Course I Love You...! Till I Find Someone Better...
Life is What You Make It: A Story of Love, Hope and How Determination Can Overcome Even Destiny
The Lake (The Lake Trilogy #1)
Revolution 2020: Love, Corruption, Ambition

In [102]:
book_names

Index([' Angels (Walsh Family, #3)',
       '"Ø­ÙØ§ÙØ§Øª ÙØ±ØºÙÙ Ø§ÙÙ
Ø³ØªÙØ§ÙÙ "Ø­ÙØ§ÙØªÙ Ù
Ø¹ ÙÙØ± Ø§ÙØ³Ø­ÙØ§ÙÙØ©',
       '#GIRLBOSS', ''Salem's Lot', ''Tis (Frank McCourt, #2)',
       '1,000 Places to See Before You Die', '1/4 Ø¬Ø±Ø§Ù
',
       '10% Happier: How I Tamed the Voice in My Head, Reduced Stress Without Losing My Edge, and Found Self-Help That Actually Works',
       '100 Bullets, Vol. 1: First Shot, Last Call', '100 Love Sonnets',
       ...
       'Ù
Ø­Ø§Ù', 'Ù
Ø®Ø·ÙØ·Ø© Ø¨Ù Ø¥Ø³Ø­Ø§Ù: Ù
Ø¯ÙÙØ© Ø§ÙÙ
ÙØªÙ',
       'ÙØ§Ø¯Ù Ø§ÙØ³ÙØ§Ø±Ø§Øª', 'ÙØ´Øª Ú©ØªØ§Ø¨', 'ÙÙØ¨ØªØ§',
       'ÙØ§Ø­Ø© Ø§ÙØºØ±ÙØ¨', 'ÙÙØªÙØ¨ÙØ§', 'Ú¤ÙØ±ØªÙØ¬Ù',
       'ã­ã¹ãããæ©ã1 [Kisu Yorimo Hayaku 1] (Faster than a Kiss #1)',
       'ç¾å°å¥³æ¦å£«ã»ã¼ã©ã¼ã ã¼ã³æ°è£
ç 1 [BishÅjo Senshi Sailor Moon ShinsÅban 1]'],
      dtype='object', name='title', length=9955)

In [113]:
def search_books_by_title(title):
    # Filter book_with_tags for rows where the title matches
    matching_books = book_with_tags[book_with_tags['title'].str.lower() == title.lower()]

    if matching_books.empty:
        return "No books found with the given title."

    # Select relevant columns for output
    result = matching_books[['title', 'author', 'year', 'average_rating', 'tag_name', 'image_url']]

    return result

In [114]:
search_books_by_title("Can Love Happen Twice?")

,title,author,year,average_rating,tag_name,image_url
4990,Can Love Happen Twice?,Ravinder Singh,2011.0,3.31,"[to-read, currently-reading, romance, fiction,...",https://images.gr-assets.com/books/1321016822m...

In [105]:
books

,book_id,goodreads_book_id,ISBN,title,author,year,average_rating,image_url
0,1,2767052,439023483,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,2008.0,4.34,https://images.gr-assets.com/books/1447303603m...
1,2,3,439554934,Harry Potter and the Sorcerer's Stone (Harry P...,"J.K. Rowling, Mary GrandPrÃ©",1997.0,4.44,https://images.gr-assets.com/books/1474154022m...
2,3,41865,316015849,"Twilight (Twilight, #1)",Stephenie Meyer,2005.0,3.57,https://images.gr-assets.com/books/1361039443m...
3,4,2657,61120081,To Kill a Mockingbird,Harper Lee,1960.0,4.25,https://images.gr-assets.com/books/1361975680m...
4,5,4671,743273567,The Great Gatsby,F. Scott Fitzgerald,1925.0,3.89,https://images.gr-assets.com/books/1490528560m...
...,...,...,...,...,...,...,...,...
9995,9996,7130616,441019455,"Bayou Moon (The Edge, #2)",Ilona Andrews,2010.0,4.09,https://images.gr-assets.com/books/1307445460m...
9996,9997,208324,067973371X,"Means of Ascent (The Years of Lyndon Johnson, #2)",Robert A. Caro,1990.0,4.25,https://s.gr-assets.com/assets/nophoto/book/11...
9997,9998,77431,039330762X,The Mauritius Command,Patrick O'Brian,1977.0,4.35,https://images.gr-assets.com/books/1455373531m...
9998,9999,8565083,61711527,Cinderella Ate My Daughter: Dispatches from th...,Peggy Orenstein,2011.0,3.65,https://images.gr-assets.com/books/1279214118m...
9999,10000,8914,375700455,The First World War,John Keegan,1998.0,4.00,https://images.gr-assets.com/books/1403194704m...

In [106]:
def search_books_by_category(category):
    matching_books = book_with_tags[book_with_tags['tag_name'].apply(lambda x: category in x if isinstance(x, list) else False)]
    matching_books = matching_books.sort_values(by='average_rating', ascending=False)
    result = matching_books[['title', 'author', 'image_url', 'average_rating', 'tag_name', 'year']].reset_index(drop=True)
    return result

In [107]:
search_books_by_category('fiction')

,title,author,image_url,average_rating,tag_name,year
0,The Complete Calvin and Hobbes,Bill Watterson,https://images.gr-assets.com/books/1473064526m...,4.82,"[to-read, favorites, comics, currently-reading...",2005.0
1,"Harry Potter Boxed Set, Books 1-5 (Harry Potte...","J.K. Rowling, Mary GrandPrÃ©",https://s.gr-assets.com/assets/nophoto/book/11...,4.77,"[to-read, favorites, fantasy, currently-readin...",2003.0
2,"Words of Radiance (The Stormlight Archive, #2)",Brandon Sanderson,https://images.gr-assets.com/books/1391535251m...,4.77,"[fantasy, to-read, currently-reading, favorite...",2014.0
3,Mark of the Lion Trilogy,Francine Rivers,https://images.gr-assets.com/books/1349032180m...,4.76,"[to-read, christian-fiction, favorites, histor...",1993.0
4,It's a Magical World: A Calvin and Hobbes Coll...,Bill Watterson,https://images.gr-assets.com/books/1437420710m...,4.75,"[to-read, comics, humor, favorites, fiction, g...",1996.0
...,...,...,...,...,...,...
9092,Four Blondes,Candace Bushnell,https://s.gr-assets.com/assets/nophoto/book/11...,2.80,"[chick-lit, fiction, currently-reading, books-...",2000.0
9093,Lost,"Gregory Maguire, Douglas Smith",https://images.gr-assets.com/books/1407711681m...,2.80,"[to-read, fantasy, fiction, currently-reading,...",2001.0
9094,The Finkler Question,Howard Jacobson,https://images.gr-assets.com/books/1319018978m...,2.76,"[to-read, currently-reading, fiction, booker-p...",2010.0
9095,The Almost Moon,Alice Sebold,https://images.gr-assets.com/books/1310421579m...,2.67,"[to-read, fiction, books-i-own, owned, abandon...",2007.0
9096,One Night at the Call Center,Chetan Bhagat,https://images.gr-assets.com/books/1320500924m...,2.47,"[to-read, currently-reading, chetan-bhagat, in...",2005.0

In [108]:
def search_books(keyword):
    matching_books = book_with_tags[book_with_tags.apply(lambda row: keyword.lower() in row['title'].lower() or 
                                                                   keyword.lower() in ' '.join(row['tag_name']).lower() or
                                                                   keyword.lower() in row['author'].lower() or
                                                                   keyword.lower() in str(row['year']), axis=1)]
    matching_books = matching_books.sort_values(by='average_rating', ascending=False)
    result = matching_books[['title', 'author', 'image_url', 'average_rating', 'tag_name', 'year']].reset_index(drop=True)
    return result

In [109]:
keyword = '1981'
result = search_books(keyword)
print(result)

                                                title  \
0                                       Miss Rumphius
1          With the Old Breed: At Peleliu and Okinawa
2                          The Lord God Made Them All
3                                A Light in the Attic
4                  The Missing Piece Meets the Big O
5           Totto-chan: The Little Girl at the Window
6                                  The Complete Poems
7                                 Good Night, Mr. Tom
8                        Ronia, the Robber's Daughter
9                        Noble House (Asian Saga, #5)
10         What We Talk About When We Talk About Love
11                                   Follow the River
12  Our Band Could Be Your Life: Scenes from the A...
13                                The Collected Poems
14                               The Heart of a Woman
15                              Mornings on Horseback
16                        Las batallas en el desierto
17                  Ramona Quimby, Age 8 (Ramona, #6)
18  Scary Stories to Tell in the Dark (Scary Stori...
19                      Gorky Park (Arkady Renko, #1)
20                                            Jumanji
21                       George's Marvellous Medicine
22              When Bad Things Happen to Good People
23  The Man With a Load of Mischief (Richard Jury,...
24                   Red Dragon (Hannibal Lecter, #1)
25                                Midnight's Children
26                     The Keep (Adversary Cycle, #1)
27                      Chronicle of a Death Foretold
28                     Daisy Fay and the Miracle Man
29                      Nothing's Fair in Fifth Grade
30                          VALIS (VALIS Trilogy, #1)
31                   Homecoming (Tillerman Cycle, #1)
32                                           Tar Baby
33                Rabbit Is Rich (Rabbit Angstrom #3)
34                            The Hotel New Hampshire
35                       Night Probe! (Dirk Pitt, #6)
36                            A Countess Below Stairs
37  Getting to Yes: Negotiating an Agreement Witho...
38                                  The Matlock Paper
39                               The Eyes of Darkness
40                             The One Minute Manager
41           God Emperor of Dune (Dune Chronicles #4)
42                          Centaur Aisle (Xanth, #4)
43              If There Be Thorns (Dollanganger, #3)
44                                           The Mask
45                                    Johnny Mnemonic
46                                               Cujo
47                               Full House (Full #1)
48                                      Danse Macabre
49                                           Roadwork
50                                           The Wave
51                           The Comfort of Strangers

                                               author  \
0                                      Barbara Cooney
1                      Eugene B. Sledge, Paul Fussell
2                                       James Herriot
3                                    Shel Silverstein
4                                    Shel Silverstein
5   Tetsuko Kuroyanagi, Chihiro Iwasaki, Dorothy B...
6                           Anne Sexton, Maxine Kumin
7                                   Michelle Magorian
8   Astrid Lindgren, Patricia Crampton, Trina Scha...
9                                       James Clavell
10                                     Raymond Carver
11                               James Alexander Thom
12                                    Michael Azerrad
13                           Sylvia Plath, Ted Hughes
14                                       Maya Angelou
15                                   David McCullough
16                               JosÃ© Emilio Pacheco
17                                     Beverly Cleary
18                    Alvin Schwartz, Stephen Gammell
19                                  Martin Cruz Smith
20                                 Chris Van Allsburg
21                          Roald Dahl, Quentin Blake
22                                  Harold S. Kushner
23                                      Martha Grimes
24                                      Thomas Harris
25                                     Salman Rushdie
26                                     F. Paul Wilson
27          Gabriel GarcÃ­a MÃ¡rquez, Gregory Rabassa
28                                       Fannie Flagg
29                                  Barthe DeClements
30                                     Philip K. Dick
31                                      Cynthia Voigt
32                                      Toni Morrison
33                                        John Updike
34                                        John Irving
35                                      Clive Cussler
36                                       Eva Ibbotson
37            Roger Fisher, William Ury, Bruce Patton
38                                      Robert Ludlum
39                         Leigh Nichols, Dean Koontz
40              Kenneth H. Blanchard, Spencer Johnson
41                                      Frank Herbert
42                                      Piers Anthony
43                                       V.C. Andrews
44                            Owen  West, Dean Koontz
45                       William Gibson, Terry Bisson
46                                       Stephen King
47                  Janet Evanovich, Charlotte Hughes
48                                       Stephen King
49                      Richard Bachman, Stephen King
50                         Morton Rhue, Todd Strasser
51                                         Ian McEwan

                                            image_url  average_rating  \
0   https://images.gr-assets.com/books/1281468926m...            4.45
1   https://images.gr-assets.com/books/1297640051m...            4.40
2   https://s.gr-assets.com/assets/nophoto/book/11...            4.39
3   https://images.gr-assets.com/books/1427169918m...            4.34
4   https://s.gr-assets.com/assets/nophoto/book/11...            4.32
5   https://images.gr-assets.com/books/1354795941m...            4.30
6   https://s.gr-assets.com/assets/nophoto/book/11...            4.28
7   https://images.gr-assets.com/books/1282757902m...            4.28
8   https://images.gr-assets.com/books/1451632787m...            4.27
9   https://images.gr-assets.com/books/1365185986m...            4.23
10  https://images.gr-assets.com/books/1475474209m...            4.22
11  https://s.gr-assets.com/assets/nophoto/book/11...            4.21
12  https://images.gr-assets.com/books/1168029429m...            4.20
13  https://s.gr-assets.com/assets/nophoto/book/11...            4.20
14  https://images.gr-assets.com/books/1417404078m...            4.19
15  https://s.gr-assets.com/assets/nophoto/book/11...            4.10
16  https://images.gr-assets.com/books/1304602212m...            4.10
17  https://images.gr-assets.com/books/1300270683m...            4.08
18  https://images.gr-assets.com/books/1440189576m...            4.05
19  https://s.gr-assets.com/assets/nophoto/book/11...            4.04
20  https://s.gr-assets.com/assets/nophoto/book/11...            4.03
21  https://s.gr-assets.com/assets/nophoto/book/11...            4.02
22  https://s.gr-assets.com/assets/nophoto/book/11...            4.02
23  https://s.gr-assets.com/assets/nophoto/book/11...            4.01
24  https://s.gr-assets.com/assets/nophoto/book/11...            4.01
25  https://images.gr-assets.com/books/1371063511m...            3.99
26  https://s.gr-assets.com/assets/nophoto/book/11...            3.98
27  https://images.gr-assets.com/books/1430736599m...            3.95
28  https://s.gr-assets.com/assets/nophoto/book/11...            3.94
29  https://images.gr-assets.com/books/1458976419m...            3.94
30  https://s.gr-assets.com/assets/nophoto/book/11...            3.94
31  https://s.gr-assets.com/assets/nophoto/book/11...            3.92
32  https://s.gr-assets.com/assets/nophoto/book/11...            3.91
33  https://s.gr-assets.com/assets/nophoto/book/11...            3.90
34  https://images.gr-assets.com/books/1318013543m...            3.89
35  https://s.gr-assets.com/assets/nophoto/book/11...            3.89
36  https://images.gr-assets.com/books/1311649247m...            3.88
37  https://s.gr-assets.com/assets/nophoto/book/11...            3.88
38  https://s.gr-assets.com/assets/nophoto/book/11...            3.86
39  https://images.gr-assets.com/books/1328218196m...            3.85
40  https://s.gr-assets.com/assets/nophoto/book/11...            3.85
41  https://images.gr-assets.com/books/1327131560m...            3.81
42  https://s.gr-assets.com/assets/nophoto/book/11...            3.77
43  https://images.gr-assets.com/books/1321684186m...            3.75
44  https://s.gr-assets.com/assets/nophoto/book/11...            3.75
45  https://s.gr-assets.com/assets/nophoto/book/11...            3.75
46  https://images.gr-assets.com/books/1394208144m...            3.65
47  https://images.gr-assets.com/books/1479699904m...            3.63
48  https://images.gr-assets.com/books/1309287093m...            3.62
49  https://s.gr-assets.com/assets/nophoto/book/11...            3.59
50  https://images.gr-assets.com/books/1320402950m...            3.54
51  https://s.gr-assets.com/assets/nophoto/book/11...            3.44

                                             tag_name    year
0   [to-read, picture-books, childrens, children-s...  1981.0
1   [to-read, war, military, currently-reading, ww...  1981.0
2   [to-read, non-fiction, animals, currently-read...  1981.0
3   [to-read, poetry, childrens, children, favorit...  1981.0
4   [to-read, favorites, childrens, poetry, childr...  1981.0
5   [to-read, currently-reading, favorites, childr...  1981.0
6   [to-read, poetry, favorites, rory-gilmore-read...  1981.0
7   [to-read, historical-fiction, classics, young-...  1981.0
8   [favorites, fantasy, children, childhood, fict...  1981.0
9   [to-read, historical-fiction, fiction, current...  1981.0
10  [to-read, short-stories, currently-reading, fi...  1981.0
11  [to-read, historical-fiction, currently-readin...  1981.0
12  [to-read, favorites, history, music, currently...  2001.0
13  [to-read, poetry, favorites, currently-reading...  1981.0
14  [to-read, currently-reading, non-fiction, biog...  1981.0
15  [to-read, biography, currently-reading, histor...  1981.0
16  [to-read, favorites, currently-reading, fictio...  1981.0
17  [children-s-books, to-read, childhood-favorite...  1981.0
18  [to-read, horror, currently-reading, short-sto...  1981.0
19  [to-read, mystery, fiction, currently-reading,...  1981.0
20  [to-read, picture-books, childrens, fantasy, c...  1981.0
21  [to-read, childrens, fiction, children, fantas...  1981.0
22  [to-read, currently-reading, non-fiction, self...  1981.0
23  [to-read, mystery, mysteries, currently-readin...  1981.0
24  [to-read, horror, fiction, thriller, favorites...  1981.0
25  [to-read, currently-reading, fiction, india, m...  1981.0
26  [to-read, horror, currently-reading, fiction, ...  1981.0
27  [to-read, fiction, favorites, classics, magica...  1981.0
28  [to-read, fiction, currently-reading, favorite...  1981.0
29  [to-read, currently-reading, childrens, fictio...  1981.0
30  [to-read, science-fiction, currently-reading, ...  1981.0
31  [to-read, series, young-adult, realistic-ficti...  1981.0
32  [to-read, fiction, african-american, classics,...  1981.0
33  [to-read, fiction, pulitzer, currently-reading...  1981.0
34  [fiction, favorites, currently-reading, contem...  1981.0
35  [to-read, clive-cussler, adventure, fiction, t...  1981.0
36  [to-read, historical-fiction, favorites, ya, f...  1981.0
37  [to-read, currently-reading, business, psychol...  1981.0
38  [to-read, thriller, fiction, robert-ludlum, cu...  1973.0
39  [to-read, fiction, default, thriller, koontz, ...  1981.0
40  [to-read, business, currently-reading, non-fic...  1981.0
41  [to-read, fiction, sci-fi, currently-reading, ...  1981.0
42  [to-read, fantasy, xanth, fiction, owned, pier...  1981.0
43  [to-read, fiction, horror, currently-reading, ...  1981.0
44  [to-read, dean-koontz, koontz, horror, default...  1981.0
45  [to-read, science-fiction, sci-fi, fiction, sc...  1981.0
46  [to-read, horror, stephen-king, fiction, curre...  1981.0
47  [to-read, romance, janet-evanovich, mystery, c...  1981.0
48  [to-read, horror, stephen-king, non-fiction, c...  1981.0
49  [to-read, stephen-king, horror, fiction, curre...  1981.0
50  [to-read, young-adult, currently-reading, fict...  1981.0
51  [to-read, fiction, currently-reading, 1001-boo...  1981.0

In [173]:
result.iloc[1]['image_url']

'https://images.gr-assets.com/books/1297640051m/771332.jpg'

In [159]:
def recommend_book_new(book_name):
    
    # Get the row corresponding to the provided book_name
    book_row = book_pivot.loc[book_name]
    
    # Reshape the row for model prediction
    book_row = book_row.values.reshape(1, -1)
    
    # Get nearest neighbors
    distances, indices = model.kneighbors(book_row, n_neighbors=20)
    
    recommendations = pd.DataFrame(columns=['title', 'author', 'year', 'average_rating', 'tag_name', 'image_url'])
    recommended_books = set()  # Use a set to keep track of recommended books to avoid duplicates

    for i in range(len(indices[0])):
        book_details = search_books_by_title(book_pivot.index[indices[0][i]])
        recommended_books.add(book_details.iloc[0]['title'])  # Add book title to set
        recommendations = recommendations.append(book_details)

    # Drop duplicates based on title
    recommendations = recommendations.drop_duplicates(subset=['title'])

    return recommendations

In [160]:
my_recommendation = recommend_book_new('The Hunger Games (The Hunger Games, #1)')

In [162]:
print(my_recommendation)

                                                    title  \
619294            The Hunger Games (The Hunger Games, #1)
659394               Catching Fire (The Hunger Games, #2)
705294                  Mockingjay (The Hunger Games, #3)
234000                            Twilight (Twilight, #1)
826494                          Divergent (Divergent, #1)
200     Harry Potter and the Sorcerer's Stone (Harry P...
180200  The Lightning Thief (Percy Jackson and the Oly...
456300         City of Bones (The Mortal Instruments, #1)
507694                             Eclipse (Twilight, #3)
257600                            New Moon (Twilight, #2)
583194                       Breaking Dawn (Twilight, #4)
614494   The Girl with the Dragon Tattoo (Millennium, #1)
596394                            The Host (The Host, #1)
793394                          Insurgent (Divergent, #2)
642794                                           The Help
240000                                Water for Elephants
26000                           The Giver (The Giver, #1)
801994                                   The Lovely Bones
795994                             The Fault in Our Stars
367900                 Eragon (The Inheritance Cycle, #1)

                              author    year  average_rating  \
619294               Suzanne Collins  2008.0            4.34
659394               Suzanne Collins  2009.0            4.30
705294               Suzanne Collins  2010.0            4.03
234000               Stephenie Meyer  2005.0            3.57
826494                 Veronica Roth  2011.0            4.24
200     J.K. Rowling, Mary GrandPrÃ©  1997.0            4.44
180200                  Rick Riordan  2005.0            4.23
456300               Cassandra Clare  2007.0            4.12
507694               Stephenie Meyer  2007.0            3.69
257600               Stephenie Meyer  2006.0            3.52
583194               Stephenie Meyer  2008.0            3.70
614494    Stieg Larsson, Reg Keeland  2005.0            4.11
596394               Stephenie Meyer  2008.0            3.84
793394                 Veronica Roth  2012.0            4.07
642794              Kathryn Stockett  2009.0            4.45
240000                    Sara Gruen  2006.0            4.07
26000                     Lois Lowry  1993.0            4.12
801994                  Alice Sebold  2002.0            3.77
795994                    John Green  2012.0            4.26
367900           Christopher Paolini  2002.0            3.86

                 tag_name                                          image_url
619294          favorites  https://images.gr-assets.com/books/1447303603m...
659394        young-adult  https://images.gr-assets.com/books/1358273780m...
705294  currently-reading  https://images.gr-assets.com/books/1358275419m...
234000        young-adult  https://images.gr-assets.com/books/1361039443m...
826494          favorites  https://images.gr-assets.com/books/1328559506m...
200               to-read  https://images.gr-assets.com/books/1474154022m...
180200            to-read  https://images.gr-assets.com/books/1400602609m...
456300          favorites  https://images.gr-assets.com/books/1432730315m...
507694        young-adult  https://images.gr-assets.com/books/1361038355m...
257600            to-read  https://images.gr-assets.com/books/1361039440m...
583194            to-read  https://images.gr-assets.com/books/1361039438m...
614494            to-read  https://images.gr-assets.com/books/1327868566m...
596394            to-read  https://images.gr-assets.com/books/1318009171m...
793394            to-read  https://images.gr-assets.com/books/1325667729m...
642794            to-read  https://images.gr-assets.com/books/1346100365m...
240000            to-read  https://images.gr-assets.com/books/1494428973m...
26000             to-read  https://images.gr-assets.com/books/1342493368m...
801994            to-read  https://images.gr-assets.com/books/1457810586m...
795994          favorites  https://images.gr-assets.com/books/1360206420m...
367900            fantasy  https://images.gr-assets.com/books/1366212852m...

In [165]:
print(my_recommendation.iloc[1]['image_url']);

https://images.gr-assets.com/books/1358273780m/6148028.jpg

In [142]:
book_with_tags[book_with_tags['title']=='The Hunger Games (The Hunger Games, #1)']['image_url']

0    https://images.gr-assets.com/books/1447303603m...
Name: image_url, dtype: object

In [146]:
book_with_tags['image_url']

0       https://images.gr-assets.com/books/1447303603m...
1       https://images.gr-assets.com/books/1474154022m...
2       https://images.gr-assets.com/books/1361039443m...
3       https://images.gr-assets.com/books/1361975680m...
4       https://images.gr-assets.com/books/1490528560m...
                              ...
9995    https://images.gr-assets.com/books/1307445460m...
9996    https://s.gr-assets.com/assets/nophoto/book/11...
9997    https://images.gr-assets.com/books/1455373531m...
9998    https://images.gr-assets.com/books/1279214118m...
9999    https://images.gr-assets.com/books/1403194704m...
Name: image_url, Length: 10000, dtype: object

In [148]:
books['image_url']

0       https://images.gr-assets.com/books/1447303603m...
1       https://images.gr-assets.com/books/1474154022m...
2       https://images.gr-assets.com/books/1361039443m...
3       https://images.gr-assets.com/books/1361975680m...
4       https://images.gr-assets.com/books/1490528560m...
                              ...
9995    https://images.gr-assets.com/books/1307445460m...
9996    https://s.gr-assets.com/assets/nophoto/book/11...
9997    https://images.gr-assets.com/books/1455373531m...
9998    https://images.gr-assets.com/books/1279214118m...
9999    https://images.gr-assets.com/books/1403194704m...
Name: image_url, Length: 10000, dtype: object

In [ ]:
reco